@model Donation.Models.AllocateGoods

@{
    ViewData["Title"] = "Edit";
}

<div class="row mt-8">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" id="AllocatedTo">
                <label asp-for="AllocatedTo" class="control-label"></label>
                <span asp-validation-for="AllocatedTo" class="text-danger"></span>
            </div>
            <div class="form-group" id="Goods">
                <label asp-for="Goods" class="control-label"></label>
                <span asp-validation-for="Goods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            (function () {
                try {
                    var select = $("<select></select>").attr("id", "AllocatedTo").attr("class", "form-control").attr("name", "AllocatedTo");
                    var select2 = $("<select></select>").attr("id", "Goods").attr("class", "form-control").attr("name", "Goods");

                    $.ajax({
                        url: "/AllocateGoods/GetGoodsData",
                        datatype: "JSON",
                        type: "Get",
                        success: function (data) {
                            debugger;
                            let options = data.disasters.map(o => `<option value="${o.name}">${o.name}</option>`);
                            let options2 = data.goodsDonations.map(o => `<option value="${o.description}">${o.description}</option>`);
                            select.append(options);
                            select2.append(options2);

                        }
                    });

                    $("#AllocatedTo").append(select);
                    $("#Goods").append(select2);
                } catch (e) {
                    console.log(e.message);
                }
            })();
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}