@{
    ViewData["Title"] = "Home Page";
}

<main class="home">
        <section>
            <div>
                <div>
                    <div>
                        <h1>Lorem ipsum dolor sit</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus odio voluptas obcaecati consectetur</p>
                    </div>
                    <!-- <img src="https://images.pexels.com/photos/2660262/pexels-photo-2660262.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="african map" srcset=""> -->
                </div>
                <div>
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                </div>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <h3>Become a member</h3>
                    <h1>MEMBER BENEFITS</h1>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div></div>
            </div>
        </section>
        <section>
            <div>
                <div></div>
                <div>
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellendus, veniam nam magni dicta, beatae qui corporis perspiciatis iste provident expedita aut saepe quis. Exercitationem totam voluptatem illum ea placeat!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellendus, veniam nam magni dicta, beatae qui corporis perspiciatis iste provident expedita aut saepe quis. Exercitationem totam voluptatem illum ea placeat!</p>
                    </div>
                    <button>read more</button>
                </div>
            </div>
        </section>
        <section>

        </section>
    </main>
