@model Donation.Models.GoodsDonation

@{
    ViewData["Title"] = "Create";
}

<div class="max-w-[1600px] mx-auto py-4">
    <h1 class="text-2xl font-bold mb-6">Add Goods Donations</h1>
<hr />
<div class="row mt-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberOfItems" class="control-label"></label>
                <input asp-for="NumberOfItems" class="form-control" />
                <span asp-validation-for="NumberOfItems" class="text-danger"></span>
            </div>
            <div class="form-group" id="Category">
                <label asp-for="Category" class="control-label"></label>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="Clothes">Clothes</option>
                    <option value="Non-perishable foods">Non-perishable foods</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor" class="control-label"></label>
                <input asp-for="Donor" class="form-control" />
                <span asp-validation-for="Donor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingItems" class="control-label"></label>
                <input asp-for="RemainingItems" class="form-control" />
                <span asp-validation-for="RemainingItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            (function () {
                try {
                    var select = $("<select></select>").attr("id", "Category").attr("class", "form-control").attr("name", "Category");
                    $.ajax({
                        url: "/GoodsDonations/GetData",
                        datatype: "JSON",
                        type: "Get",
                        success: function (data) {
                            console.log(data)
                            debugger;
                            let options = data.map(o => `<option value="${o.name}">${o.name}</option>`);
                            select.append(options);

                        }
                    });
                    $("#Category").append(select);
                } catch (e) {
                    console.log(e.message);
                }
            })();
        });
    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
